.teacher-div{
    display: flex;
    justify-content: center;
}
.card{
    padding: 20px;
}
.intro h1{
    text-align: center;
    font-size: 100px;
}


@media only screen and (max-width: 800px) {
    .teacher-div{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
  }
@media only screen and (max-width: 600px) {
    .teacher-div{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .intro h1{
        text-align: center;
        font-size: 50px;
    }
  }

 